/AdminHomepageController.class
/BaseController.class
/LandingPageController.class
/LoginController.class
/PasswordRecovery1Controller.class
/PasswordRecovery2Controller.class
/PasswordRecovery3Controller.class
/SignupPageController.class
/TemplateManageController.class
/UserHomepageController.class
/UserManageController.class
